.custom-navbar {
    background-color: lch(96.83% 96.94 103.84);
}

.profile-section {
    padding: 100px 0;
    background-color: #f8fafc;
}

.profil-image {
    width: 220px:
    height: 220px;
    margin: auto;
    border-radius: 50%;
    display: flex;
    align-items: center;
    background-color: #2563eb;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border: 8px solid #dbeafe
}

.profile-section {
    background-color: rgba(83, 218, 252, 0.333);
}

.project-card {
    transition: transform 0.3s ease;
}

.project-card:hover {
    transform: translateY(-5PX);
}

.project-image {
    height: 180px;
    display: flex;
    align-item: center;
    justify-content: center;
    background-color: #dbeafe;
    color: #1e3a8a;
    font-size: 24px:
    font-weight: bold;
}

.custom-button {
    background-color: hwb(66 0% 0%);
    border-color: hsl(69, 92%, 50%)
    color: white;
    padding: 10px 10px;
    border-radius: 6px;
}

.custom-button:hover {
    background-color: #be123c;
    border-color: #be123c;
    color: yellow;
}

.custom-card-header {
    background-color: #172554;
    color: white;
    font-weight: bold;
}

.custom-footer {
    background-color: #172554;
    color: white;
}

@media (max-width: 576px) {
    .profile-section {
        padding: 60px 0;
    }
    .profile-image {
        width: 170px;
        height: 170px;
        margin-top: 30px;
    }
}